In [2]:
import sys
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
df_gold = pd.read_csv("EDA_Gold_Silver_prices.csv")

df_gold.head()

    Month  SilverPrice  GoldPrice
0  Mar-97       186.48   12619.24
1  Apr-97       170.65   12338.59
2  May-97       170.44   12314.94
3  Jun-97       169.96   12202.78
4  Jul-97       155.80   11582.07

In [ ]:
df_gold.to_datetime("MOnth")